<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add visit</title>
</head>
<body>
    <h1>Add your visit to <%=city.name%></h1>
    <form action='/visits' method="POST">
        <input type="hidden" name="city" value="<%=city._id%>">
        <label>Description:</label>
        <textarea name="description" placeholder="Describe ur visit" required></textarea><br><br>
        <label>Rating 1-5:</label>
        <input type="number" name="rating" placeholder="Rate your visit out of 5" min="1" max="5" required><br><br>
        <label>Visit Type:</label>
        <select name="visitType" required>
            <option value="Tourism">Tourism</option>
            <option value="Work">Work</option>
            <option value="Family">Family Visit</option>
        </select> 
        <br><br>
        <label>Date in:</label>
<input type="date" name="dateIn" required><br><br>

<label>Date out:</label>
<input type="date" name="dateOut" required><br><br>

        <button type="submit">Add Visit</button>
    </form>
</body>
</html>